/******* Maps Index Footer Social*******/
$mapRedes:(facebook:#3b5998,instagram:#e30052,youtube:red);

@each $red, $color in $mapRedes {
    .#{$red} {
        color: $color;
    }
}

/******* Maps Get Index Footer*******/
$estilo:(
    color:#6b3923,
    tamFuente:1rem,

);
.mecanica {
    background-color: map-get($estilo, color);
    font-size: map-get($estilo, tamFuente);
    
    
}
/******* Extend Quienes Somos*******/

.primerEstilo {
    font-family: "Oswald", sans-serif;
    font-weight: lighter;

}

.segundoEstilo {
    @extend .primerEstilo;
    font-size: 0.8rem;
}

/******* Mixin Taller*******/

@mixin parrafos {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    text-align: center;
    background-color :red;
}

.parrafoEstilo {
    @include parrafos; 
}