/******* FOOTER*******/
.footer__bloque {
  background-color: $color-terciario;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  a {
    list-style-type: none;
    padding: 1rem;
    color: $color-fondo;
    margin-top: 1rem;
    text: {
    align: center;
    decoration: none;
    }
    font: {
    family: "Oswald", sans-serif;
    }
  }
}
.footer__credito {
    background-color: $color-secundario;
    padding: 1rem;
    font: {
        family: "Oswald", sans-serif;
        size: 0.8rem;
        }
    text: {
        align: center;
        color: $color-terciario;
    }
}
